@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;900&display=swap");

/* Custom Properties */
  :root {
    
    font-size: 10px;
    --fs-1: 6.4rem;
    --fs-2: 4.8rem;                                       /* fs = font size */
    --fs-3: 4rem;
    --fs-4: 3.2rem;
    --fs-overline: 1.6rem;
    --fs-p1: 1.8rem;
    --fs-p2: 1.6rem;

    --lh-1: 6.4rem;
    --lh-2: 4.8rem;
    --lh-3: 4.4rem;
    --lh-4: 3.6rem;
    --lh-5: 2.6rem;

    --ff: "Red Hat Display", sans-serif;
    --fw-n: 300;
    --fw-m: 500;
    --fw-b: 900;

    
    --clr-dark-cyan: #4D96A9;
    --clr-dark-purple: #855FB1;
    --clr-dark-deep-purple: #28283D;
    --clr-dark-grey: #87879D;

    --clr-med-cyan: #71C0D4;
    --clr-med-purple: #B18BDD;

    --clr-light-cyan: #8FE3F9;
    --clr-light-purple: #D9B8FF;
    --clr-light-white: #FAFAFA;
    
    --shadow: 0 0 1em rgba(0,0,0, .25);
    --br: 5px;
    
  }

  /* Reset and Global properties */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}

body {
  background-color: var(--clr-light-white);
  color: var(--clr-dark-grey);
  font-family: var(--ff);
  cursor: default;
}
ul {
  list-style: none;
}
a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
button {
  color: inherit;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-family: inherit;
}

/* General styles */

img {
    max-width: 100%;
}

/* General typography */
h1 {
  font-size: var(--fs-3);
  font-weight: var(--fw-b);
  line-height: var(--lh-3);
  color: var(--clr-dark-deep-purple);
}
h2 {
  font-size: var(--fs-4);
  font-weight: var(--fw-b);
  line-height: var(--lh-4);
  color: var(--clr-dark-deep-purple);
}
p {
  font-size: var(--fs-p2);
  font-weight: var(--fw-m);
  line-height: var(--lh-5);
  color: var(--clr-dark-grey);
}
.overline {
  font-size: var(--fs-overline);
  font-weight: var(--fw-b);
  line-height: var(--lh-5);
  color: var(--clr-dark-cyan);
  text-transform: uppercase;
  letter-spacing: 4px;
}
@media (min-width: 600px) {
  h1 {
    font-size: var(--fs-2);
    line-height: var(--lh-2);
  }
  h2 {
    font-size: var(--fs-3);
    line-height: var(--lh-3);
  }
}
@media (min-width: 1100px) {
  h1 {
    font-size: var(--fs-1);
    line-height: var(--lh-1);
  }
  h2 {
    font-size: var(--fs-3);
    line-height: var(--lh-3);
  }
  p {
    font-size: var(--fs-p1);
    line-height: var(--lh-5);
  }
  .overline {
    font-size: var(--fs-overline);
    font-weight: var(--fw-b);
    line-height: var(--lh-5);
    color: var(--clr-dark-cyan);
    text-transform: uppercase;
    letter-spacing: 4px;
  }
}

/* Containers */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;;
  margin: 0 2.4rem
}
@media (min-width: 600px) {

}
@media (min-width: 1100px) {
  
}
/* Buttons */
.btn {
  color: white;
  font-size: var(--fs-p2);
  line-height: var(--lh-5);
  font-weight: var(--fw-b);
  width: 19.3rem;
  height: 5.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2.9rem;
  transition: 0.3s;
}

/* Header */
.header__container {
  margin: 4.8rem 0;
}
/* Hero */
.hero__img {
  background: url(assets/tablet/image-hero.png) no-repeat;
  background-size: auto 100%;
  position: relative;
  height: 15.3rem;
  width: 41.4rem;
  margin-left: 0;
  margin-right: 0;
}
.hero__header {
  margin-top: 4.8rem;
}
.hero__description {
  margin: 3rem 0;
}
.hero__btns {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.btn-dload {
  background-color: var(--clr-dark-cyan);
  margin-bottom: 1.5rem;
}
.version {
  color: var(--clr-light-cyan);
}
.btn-whatis {
  background-color: var(--clr-dark-purple);
  width: 13.9rem;
  margin-bottom: 5rem;
}
/* Info */
.marker-line {
  width: 1px;
  height: 84px;
  left: calc(50% - 0.5px);
  background-color: var(--clr-dark-grey);
  opacity: 0.25;
}
.marker-circle {
  content: "01";
  color: var(--clr-dark-grey);
  font-weight: var(--fw-b);
  width: 56px;
  height: 56px;
  border: 1px solid rgba(135, 135, 157, 0.25);
  border-radius: 50%;
}
/* .info__container::before {
  content: "";
  width: 1px;
  height: 84px;
  left: calc(50% - 0.5px);
  background-color: var(--clr-dark-grey);
  opacity: 0.25;
}
.info__container::after {
  content: "01";
  width: 56px;
  height: 56px;
  position: absolute;
  top: -74rem;
  left: 2.8rem;
  transform: translate(-50%, -50%);
  background-color: var(--clr-light-white);
  color: var(--clr-dark-grey);
  display: flex;
  align-items: center;
  font-weight: 900;
  justify-content: center;
  border: 1px solid rgba(135, 135, 157, 0.25);
  border-radius: 50%;
} */
.info__imgs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 2.4rem;
  row-gap: 2.4rem;
  margin: 5rem 0;
}
.info__img-wrapper img {
  border-radius: 1rem;
}
.overline {
  display: inline-block; /*switches to control span gap */
  margin-bottom: 2.4rem;
}
.info__text p {
  margin: 3.2rem;
}
/* Footer */
.footer__container p {
  font-size: var(--fs-p1);
  color: var(--clr-light-white);
}

/* Need to insert a img div for background image and then look at the "01/02" images */